<div class="flex flex-col pt-24 px-6 w-full gap-6">
    
    @if (paginatedResult(); as paginatedResult) {
        
        <div class="flex flex-row justify-between items-center w-full">
            
            <div class="tabs tabs-box tabs-lg text-primary w-fit bg-base-200 p-1">
                @for (tab of tabs; track $index) {
                    <button role="tab" class="tab transition-all" 
                        [class.tab-active]="predicate === tab.value"
                        (click)="setPredicate(tab.value)">
                        {{tab.label}}
                    </button>
                }
            </div>

            @if (paginatedResult.metadata; as metadata) {
                <div class="flex-none">
                    <app-paginator 
                        [hidden]="metadata.totalCount === 0"
                        [pageNumber]="metadata.currentPage"
                        [pageSize]="metadata.pageSize"
                        [totalCount]="metadata.totalCount"
                        [totalPages]="metadata.totalPages"
                        (pageChange)="onPageChange($event)"
                    />
                </div>
            }
        </div>

        @if (paginatedResult.items; as members) {
            @if (members.length > 0) {
                <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6 mt-4">
                    @for (member of members; track member.id) {
                        <app-member-card [member]="member" />
                    }
                </div>
            } @else {
                <div class="mt-10 text-center opacity-50">
                    <p class="text-xl">There are no results for this filter</p>
                </div>
            }
        }
    } @else {
        <div class="flex justify-center mt-20">
            <span class="loading loading-spinner loading-lg"></span>
        </div>
    }
</div>