<div class="flex flex-col w-full px-2 -mt-4 pb-2">
    <div class="flex justify-between items-center mb-2">
        <div class="tabs tabs-box tabs-md text-primary">
            @for (tab of tabs; track $index) {
                <button role="tab" class="tab" [class.tab-active]="container === tab.value" (click)="setContainer(tab.value)">
                    {{tab.label}}
                </button>
            }
        </div>
        @if (paginatedMessages()?.metadata; as metadata) {
            <div class="scale-90 origin-right">
                <app-paginator [pageNumber]="metadata.currentPage" [pageSize]="metadata.pageSize" [totalCount]="metadata.totalCount" [totalPages]="metadata.totalPages" (pageChange)="onPageChange($event)" />
            </div>
        }
    </div>
    <div class="overflow-x-auto">
        <table class="table table-sm bg-base-100 w-full shadow-sm">
            </table>
    </div>
</div>