@if(paginatedMembers(); as paginatedResult){
    <div class="w-full flex flex-col px-2 -mt-4 pb-2 relative"> 
        
        <div class="flex justify-between items-center mb-2 relative z-20"> 
            <div class="flex gap-2 items-center">
                <button (click)="openModal()" 
                        class="btn btn-primary btn-sm normal-case relative z-30 cursor-pointer pointer-events-auto">
                    Select Filters
                </button>
                <button (click)="resetFilters()" 
                        class="btn btn-neutral btn-sm normal-case relative z-30 cursor-pointer pointer-events-auto">
                    Reset Filters
                </button>
                
                <div class="text-xs bg-base-100 px-3 border border-base-300 rounded-lg text-primary flex items-center h-[34px] shadow-sm">
                    {{displayMessage}}
                </div>
            </div>

            @if(paginatedResult.metaData; as metaData){
                <div class="scale-90 origin-right relative z-30">
                <app-paginator 
                    [pageNumber]="metaData.currentPage" 
                    [totalCount]="metaData.totalCount" 
                    [totalPages]="metaData.totalPages" 
                    [(pageSize)]="metaData.pageSize" 
                    (pageChange)="onPageChange($event)" 
                />
                </div>
            }
        </div>

        @if (paginatedResult.items; as members) {
            <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-3 mt-1 relative z-10">
                @for (member of members; track member.id){
                    <app-member-card [member]="member" />
                }
            </div>
        }
    </div>
}

<app-filter-modal 
    #filterModal 
    (closeModal)="onClose()" 
    (submitData)="onFilterChange($event)" 
    [memberParams]="memberParams" 
/>